:root {
  --highlight-color: #1976d2; /* Default highlight color */
  --highlight-text-color: #ffffff; /* Default text color */
}

::selection {
  background: var(--highlight-color);
  color: var(--highlight-text-color);
}

::-moz-selection {
  background: var(--highlight-color);
  color: var(--highlight-text-color);
}
