version: "3.8"

services:
  client:
    image: ghcr.io/hasan-aga/my-report-app-client:latest
    ports:
      - "80:80"
    environment:
      - VITE_API_URL=http://server:5002
    depends_on:
      - server
    restart: always

  server:
    image: ghcr.io/hasan-aga/my-report-app-server:latest
    ports:
      - "5002:5002"
    volumes:
      - ./server/templates:/app/templates
    environment:
      - PORT=5002
      - NODE_ENV=production
    restart: always

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL=300 # Check every 5 minutes
      - WATCHTOWER_CLEANUP=true
    restart: always
